
::-webkit-scrollbar {
  width: 0;  
  height: 3px;
  background: transparent;  
}
::-webkit-scrollbar {
  width: 0;  
  height: 0;
  background: transparent;  
}

*{
  font-family: 'Quicksand', sans-serif;
}